.hack-text {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.hack-text.night-mode {
  color: #00FF00; 
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  animation: blink 1s steps(2, start) infinite;
  color: black;
}

.blinking-cursor.night-mode {
  color: #00FF00; 
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
